body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App-header{
  text-align: center;
}

.container{
  position: relative;
  width: 100%;
  
}

.background-image{
  width: 100%;
  height: 765px;
  background-position: center center;
  background-size: cover;
}

#fact{
  position: absolute;
  top: 20px;
  font-size: 3vw;
  color: white;
  text-align: center;
  margin: 50px auto;
  padding-left: 150px;
}

.animals{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 100px;
}

.animal{
  margin-top: 200px;
  width: 23%;
}
